#blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

@media only screen and (max-width: 720px) {
    #blog-posts {
        grid-template-columns: 1fr;
    }

    .blog-post > [role=color] {
        height: 64px !important;
    }
}

.blog-post {
    position: relative;
    display: block;
    color: #fbfbfb;
    text-decoration: none !important;
    opacity: .75;
    min-height: 170px;
    transition: .2s ease-in-out;
}

.blog-post > [role=color] {
    height: 32px;
    width: 100%;
    border-radius: 2px;
    opacity: .5;
    filter: grayscale(0);
    transition: .2s ease-in-out;
}

.blog-post > h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1.4;
}

.blog-post > [role=tags] {
    position: absolute;
    top: 5px;
    left: 8px;
    color: white;
    font-style: italic;
    opacity: 0;
    transition: .2s ease-in-out;
}

.blog-post:hover {
    opacity: 1;
}

.blog-post:hover > [role=color] {
    opacity: 1;
}

.blog-post:hover > [role=tags] {
    opacity: .5;
}