html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #161616;
    color: #fbfbfb;
}

a,
p,
li,
span,
div {
    line-height: 1.75;
}

a {
    text-decoration: none;
    color: #68b6ff;
}

p {
    margin-block: 1.25rem 1rem;
}

pre > code:not([class]) {
    padding: 1em 0;
    margin: .5em 0;
    width: 100%;
}

code:not([class]) {
    font-size: 13px;
    background-color: #1f1f1f;
    padding: 0 5px;
    display: inline-block;
}

hr {
    border-top: none;
    border-bottom: 1px solid #242424;
}

a:hover {
    text-decoration: underline;
}

main {
    display: block;
    margin-inline: auto;
    max-width: 800px;
    padding-block: 0 180px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #242424;
}

header h2 {
    opacity: .75;
}

header nav {
    display: flex;
    gap: 10px;
}

header img {
    filter: invert(.95);
    width: 32px;
    height: 32px;
    opacity: .6;
}

header img:hover {
    opacity: 1;
}

ul > li {
    margin-bottom: 10px;
}

p img {
    width: 100%;
    height: auto;
}

.present {
    padding-block: 3rem 1rem;
    border-bottom: 1px solid #242424;
}

.present > h1 {
    margin-block: 1.5rem 1rem;
    font-size: 24px;
}

blockquote {
    background: #1e1e1e;
    margin: 0;
    padding: 1rem 1.5rem;
}

blockquote > p {
    margin: 0;
}