<include name="component/header"></include>
<div class="present">
    <h1>
        Olá. 👋
    </h1>
    <p>
        Sou CypherPotato, programador amador desde 2014, profissional desde 2019.
    </p>
    <p>
        Tenho alguma experiência com:
    </p>
    <ul>
        <li>
            C#
        </li>
        <li>
            PHP
        </li>
        <li>
            SQL
        </li>
        <li>
            HTML/JS/CSS
        </li>
        <li>
            Outras coisas, como Regex, criptografia, blockchain e aquele monte de coisa de programador.
        </li>
    </ul>
    <p>
        Visite alguns de meus projetos de código aberto:
    </p>
    <ul>
        <li>
            <a target="_blank" href="https://sisk.proj.pw/">Sisk</a>, um servidor HTTP leve, fácil e super rápido.
        </li>
        <li>
            <a target="_blank" href="https://github.com/CypherPotato/cryptonite">Cryptonite</a>, uma biblioteca simples para operações
            criptográficas.
        </li>
        <li>
            <a target="_blank" href="https://github.com/starless-sky-protocol/starless-sky-network">Starless Sky</a> (arquivado), um
            mensageiro descentralizado que utiliza criptografia assimétrica e blockchain
            para proteger o conteúdo das mensagens.
        </li>
    </ul>
</div>
<div class="present" style="padding-block: 1rem;">
    <p>
        Quer falar comigo?
    </p>
    <p>
        Envie um e-mail para mim: <a href="mailto:gab@proj.pw">gab@proj.pw</a>
    </p>
</div>
<div class="present">
    <h1>
        Últimas publicações
    </h1>
</div>
<div id="blog-posts" style="padding-block: .5rem;">
</div>
<script>
    blogPosts.forEach(post => {
        post.tags = post.tags.join(', ');
        query("#blog-posts").innerHTML += /*html*/`
            <include name="component/blog-post">
                ${JSON.stringify(post)}    
            </include>
        `;
    });
</script>